/* Estilo general para la tabla */
table.mat-elevation-z8 {
    width: 100%;
    margin: 16px 0;
    background-color: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Encabezado de la tabla */
  th.mat-header-cell {
    font-weight: bold;
    color: #424242;
    text-align: left;
    padding: 12px 16px;
    background-color: #e0e0e0;
  }
  
  /* Celdas de la tabla */
  td.mat-cell {
    color: #616161;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
  }
  
  /* Enlaces */
  td.mat-cell a {
    color: #1976d2;
    text-decoration: none;
    font-weight: 500;
  }
  
  td.mat-cell a:hover {
    text-decoration: underline;
  }
  
  /* Icono de favorito */
  button.mat-icon-button {
    color: #f44336;
  }
  
  /* Icono de favorito no seleccionado */
  button.mat-icon-button mat-icon {
    color: #757575;
  }
  
  button.mat-icon-button:hover mat-icon {
    color: #f44336;
  }
  